html {
	color: white;
	background: url(../imgs/shuttle.png) no-repeat center center fixed;    
  	background-size: cover;
  	font-family: Helvetica;
  	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

a:link{color:white;}
a:visited{color:white;}
a {
	text-decoration: none;
}

p {
	text-indent: 30px;
}

#blogborder {
	position: relative;
	margin-left: 25%;
	margin-right: 4%;
	margin-top: -16.4%;
	border-radius: 7px;
	background: rgba(0, 0, 0, 0.17);
}

#num{
	font-size: 350px;
	margin-top: -3.4%;
}

#arrow{
	max-height: 40px;
	margin-left: 315px;
}

#pic {
	opacity: 0.85;
	margin-left: 20%;
	max-width: 500px;
}