html {
	color: white;
	background: url(../imgs/shuttle.png) no-repeat center center fixed;    
  	background-size: cover;
  	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div {
	font-family: Helvetica;	
	font-size: 35px;
	width: 13%;
	height: 165px;	
	position: relative;
	border-radius: 7px;
	background: rgba(0, 0, 0, 0.17);
	margin-left: 65%;
	margin-top: 5%;
}

div p {
	position: relative;
	top: 2%;
	left: 5%;
}

a:link{color:white;}
a:visited{color:white;}

a {
	text-decoration: none;
}
img {
	height: 29px;
	width: 29px;
	margin-top: 29.4%;
}